/* Estilos CSS */

#menu_lateral{
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
}



#menu_lateral ul li a:hover {
    color: black !important;
    background: #CBE;
    padding-right: 180px;
    padding-top: 5px;
    font-size: 20px;
    font-family: cursive;
    transition: 0.3s;
    position: initial;

}

a{
	color: white !important;
	text-align: center;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#container {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}